@import 'globals';

.admin {
	max-width: 640px;
	padding: 24px;
	margin: 0 auto;

	.page-heading {
		&:hover {
			cursor: pointer;
		}

		i {
			/*color: $material-black;*/
			margin: 0 8px;
		}
	}

	.page-content {
		display: none;
	}

	.fa {
		font-size: 24px;
	}

	.action-wrapper {
		text-align: center;
	}

	.admin-action {
		display: inline-block;
		width: 120px;
		background-color: $light-grey;
		border-radius: 3px;
		border: 2px $border-color solid;
		font-size: 16px;
		padding: 16px;
		text-decoration: none;
		color: $off-black;

		&:hover {
			background-color: darken(#fff, 8%);
			cursor: pointer;
		}

		i {
			display: block;
			padding-bottom: 12px;
		}
	}

	form {
		margin: 0 auto;
		text-align: center;

		input {
			border: none;
			outline: none;
			padding: 16px 8px;
			margin-bottom: 18px;
			font-size: 16px;
			line-height: 20px;

			border-bottom: 2px solid $material-black;

			&:focus {
				outline: none;
			}
		}
	}
}

.segment {
	display: inline-block;
	padding: 16px;
	margin: 16px;
	width: 75px;
	border: $border;
	color: $off-black;
	font-weight: 700;
	text-align: center;

	&:hover {
		cursor:pointer;
	}
}

button {
	display: block;
  	padding: 12px 24px;
  	margin: 16px auto 16px auto;
  	/*width: 100px;*/
  	max-width: 300px;
  	vertical-align: middle;
  	color: #fff;
  	font-size: 16px;
  	font-family: $second-font;
  	line-height: 20px;
  	-webkit-font-smoothing: antialiased;
  	text-align: center;
  	letter-spacing: 1px;
  	background-color: $material-black;
  	border: 0;
  	border-bottom: 2px solid $material-border;
  	cursor: pointer;
  	transition: all 0.15s ease;

  	.fa {
  		padding-left: 4px;
  		font-size: 12px;
  	}
}

.thing-radio {
	display: block;

	.radio {
		display: inline-block;
		height: 80px;
		line-height: 80px;
		border-right: 1px solid $off-black;
	}
}