html, body {
	-webkit-font-smoothing: antialiased;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
}

body {
	padding: 0 16px;
}

h1 {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
}