$main-font: 'Raleway', sans-serif;
$second-font: 'Yellowtail', cursive;

$color: #fff;
$off-black: rgba(0,0,0,0.85);
$light-grey: #F8F9FD;
$border-color: #e4e6e7;

html, body {
	-webkit-font-smoothing: antialiased;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
}

h1 {
	font-family: 'Yellowtail', cursive;
	font-weight: 400;
}

.all-center {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.action {
	color: $off-black;

	&:after {
		content: '';
		display: block;
		margin: 0 auto;
		width: 225px;
		border-bottom: 1px $color solid;
	}
}