<button class="add-item-swal">Add New Item <i class="fa fa-plus" aria-hidden="true"></i></button>

<section class="admin">
	<h2>You are editing <h1><%= @page.name %></h1></h2>

	<% @things.each do |thing| %>
		<% haml :thing, :thing => thing %>
	<% end %>

	<% thing_url = "/page/#{@page.id}/thing" %>
	<form method="POST" action="<%= url(thing_url) %>">


	</form>
</section>