<section class="main">
	<div class="row hero">

		<ul class="nav">
			<img src="/images/placeholder.png" alt="Logo">
			<li class="action">Log In</li>
			<li>Clients</li>
			<li>About Us</li>
			<li>Our Work</li>
		</ul>
		<div class="vertical home-copy">
			<h1>Gmerek Gov Relations</h1>
			<h2>The right choice.</h2>
		</div>
	</div>

	<div class="row">
		<h1>Lorem Ipsum</h1>
	</div>
</section>