<section class="row copy">
	<h1>Billboardz</h1>

	<p>is a lightweight web framework designed specifically for small businesses  <i class="fa fa-building" aria-hidden="true"></i> . Our team creates a custom desgin  <i class="fa fa-paint-brush" aria-hidden="true"></i>  to drive digital engagement.
</section>