<form action='<%= url("/admin") %>' method="POST" enctype="multipart/form-data">
		<input type="text" name="name" placeholder="name">
		<input type="password" name="password" placeholder="password" required>
		<button class="white_back" type="submit">Login!</button>
</form>