$black: #1b1b1b;
$white: #fff;
$light-black: lighten($black, 30%);

body, html {
	margin:0;
	padding:0;
}

@font-face {
	font-family: "KeepCalm";
	src: url("/fonts/KeepCalm-Medium.ttf") format("truetype");
}

@font-face {
	font-family: "Oran";
	src: url("/fonts/Oranienbaum.ttf") format("truetype");
}

@font-face {
	font-family: "Bio";
	src: url("/fonts/LinBiolinum_R.woff") format("woff");
}

@font-face {
	font-family: "Bio";
	font-weight: 700;
	src: url("/fonts/LinBiolinum_RB.woff") format("woff");
}

@font-face {
	font-family: "Bio";
	font-style: italic;
	src: url("/fonts/LinBiolinum_RI.woff") format("woff");
}

@font-face {
	font-family: "Lib";
	src: url("/fonts/LinLibertine_R.woff") format("woff");
}

@font-face {
	font-family: "Lib";
	font-weight: 700;
	src: url("/fonts/LinLibertine_RBI.woff") format("woff");
}

@font-face {
	font-family: "Lib";
	font-style: italic;
	src: url("/fonts/LinLibertine_RI.woff") format("woff");
}

h1, button, a {
	font-family: "KeepCalm";
	font-size: 1em;
}

p, input, strong {
	font-family: "Oran";
	font-size: 1em;
}

h1 {
	/*margin: 1em;*/
	font-size: 2em;
}

h3 {
	/* Special header for design purpose not included in set */
	font-family: "Oran";
	font-size: 2em;
	font-weight: normal;
	margin: 1em;
}

button {
	border:none;
	background-color:$black;
	color:$white;
	padding:8px;

	&:hover {
		cursor: pointer;
	}
}

input {
	margin: 1em;
	border:none;
	font-size:1em;
	border: 1px solid $black;
	padding:16px;

	&:focus {
		outline:none;
	}
}

ul {
	list-style-type: none;
}

section.main {
	.nav {
		position: fixed;
		width: 95%;
		height: 100px;
		top:0;
		left: 50%;
		margin: 0;
		margin-left: -47.5%;
		margin-top: 24px;
		/*background-color: rgba($black, .2);*/
		color: white;
		font-family: "Bio";
		padding:0;

		img {
			max-height: 100%;
			max-width: 100%;
			float:left;
		}

		.action {
			border: 2px solid white;
		}

		li {
			display:inline;
			float: right;
    		position: relative;
    		top: 50%;
    		transform: translateY(-50%);
    		padding:16px 24px;
    		margin: 0 16px;
    		border-radius: 6px;
    		transition: background-color 0.8s ease, border-color 0.8s ease;
    		border: 2px solid transparent;

    		&:hover {
    			background-color:white;
    			color: $black;
    			cursor: pointer;
    			border-color: white;
    		}
		}
	}

	.hero {
		width: 100%;
		height: 600px;
		background-image: url("/images/big-hero.jpg");
	}

	h1 {
		font-family: "Bio";
	}

	h2 {
		font-family: "Lib";
		font-style: italic;
	}

	h1, h2 {
		margin:0;
	}

	.row {
		color: $black;

		.vertical {
			position: relative;
			top:50%;
			transform: translateY(-50%);
		}

		.home-copy {
			margin-left: 3%;
			color: white;
		}
	}
}

section.admin {

	.new-content {
		margin: 0 3em;
	}

	.page-content {
		display: none;
	}

	.thing-form {

		.thing-example {
			margin: 1em 0;
		}
	}

	h1 {
		&:hover {
			cursor: pointer;
		}
	}

	strong, p, h1, img, a {
		display:block;
	}
}